<!DOCTYPE html>
<!--/*
* IoT - Industrial Internet Framework
* Apache License Version 2.0, January 2004
* Released as a part of Helsinki University
* Software Engineering Lab in summer 2015
*/-->
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table-condensed">
                    <th></th>
                    <th>Value</th>
                    <th>New</th>
                    <tbody>
                        <tr>
                            <th>Sensor Id</th>
                            <td>{{sensor.id}}</td>
                            <td>     
                            </td>
                        </tr>
                        <tr>
                            <th>Custom name:</th>
                            <td>{{sensor.customname}}</td>
                            <td>
                                <div class="form-group">
                                    <input class="form-control" name="sname" ng-model="ss.customname" placeholder="name"/>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <th>Upper limit:</th>
                            <td>{{sensor.upperlimit}}</td>
                            <td>
                                <div class="form-group">
                                    <input class="form-control" name="supperlimit" ng-model="ss.thresholdMin"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Lower limit:</th>
                            <td>{{sensor.lowerlimit}}</td>
                            <td>
                                <div class="form-group">
                                    <input class="form-control" name="slowerlimit" ng-model="ss.thresholdMax"/>
                                </div>
                            </td>
                        </tr>

                </table>
                <button id="submitbutton" type="button" class="btn btn-info btn-circle btn-xl" ng-click="save()"><i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>
