<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <body>

        <div th:fragment="default">
            <script th:attr="src=@{/bower_csomponents/jquery/dist/jquery.min.js}"></script>
            <script th:attr="src=@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
            <script th:attr="src=@{/bower_components/metisMenu/dist/metisMenu.min.js}"></script>
            <script th:attr="src=@{/dist/js/sb-admin-2.js}"></script>
        </div>

        <div th:fragment="noscript">
            <!-- No scripts -->
        </div>

        <div th:fragment="flot">
            <script th:attr="src=@{/bower_components/jquery/dist/jquery.min.js}"></script>
            <script th:attr="src=@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
            <script th:attr="src=@{/bower_components/metisMenu/dist/metisMenu.min.js}"></script>

            <!-- Flot Charts JavaScript -->
            <script th:attr="src=@{/bower_components/flot/excanvas.min.js}"></script>
            <script th:attr="src=@{/bower_components/flot/jquery.flot.js}"></script>
            <script th:attr="src=@{/bower_components/flot/jquery.flot.pie.js}"></script>
            <script th:attr="src=@{/bower_components/flot/jquery.flot.resize.js}"></script>
            <script th:attr="src=@{/bower_components/flot/jquery.flot.time.js}"></script>
            <script th:attr="src=@{/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js}"></script>
            <script th:attr="src=@{/js/flot-data.js}"></script>

            <script th:attr="src=@{/dist/js/sb-admin-2.js}"></script>
        </div>

        <div th:fragment="morris">
            <script th:attr="src=@{/bower_components/jquery/dist/jquery.min.js}"></script>
            <script th:attr="src=@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
            <script th:attr="src=@{/bower_components/metisMenu/dist/metisMenu.min.js}"></script>

            <!-- Morris Charts JavaScript -->
            <script th:attr="src=@{/bower_components/raphael/raphael-min.js}"></script>
            <script th:attr="src=@{/bower_components/morrisjs/morris.min.js}"></script>
            <script th:attr="src=@{/js/morris-data.js}"></script>

            <script th:attr="src=@{/dist/js/sb-admin-2.js}"></script>
        </div>

    </body>

</html>